body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

#countdown {
    font-size: 36px;
    color: #555;
    animation: dropDown 0.10s cubic-bezier(0.68, -0.55, 0.27, 1.55), scaleUp 0.8s ease-in-out;
}

#timerText {
    font-size: 50px;
    color: #777;
}

@keyframes dropDown {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes scaleUp {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
